In [132]:
import numpy as np
import pandas as pd
import csv

# By Zeek

In [168]:
path='/home/janati/Desktop/Meryem/IDS-Datasets/Datasets/unsw/Zeek/22-01-2015/timeout1/conn_logs/P1_conn.log'

df1 = pd.read_csv(path, sep="\t", comment='#',
                         names=['ts', 'uid', 'id.orig_h', 'id.orig_p',
                                'id.resp_h', 'id.resp_p', 'proto', 'service',
                                'duration',  'orig_bytes', 'resp_bytes',
                                'conn_state', 'local_orig', 'local_resp',
                                'missed_bytes',  'history', 'orig_pkts',
                                'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
                                'tunnel_parents'])

df1 = pd.DataFrame(df1.values, columns=df1.columns)
df1['duration'].replace('-', np.nan, inplace=True)
df1['duration'] = df1['duration'].astype(float)

df1["duration"].max(), df1["duration"].min(), df1.shape

(2951.257225, 2e-06, (10244, 21))

In [153]:
df1.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents
0,1421961607.757225,CQMn9E3E5ASILfN8W4,59.166.0.1,39900,149.171.126.9,45817,tcp,-,0.107519,235,...,SF,F,F,11211,ShAaGdtgtfF,26,1360,30,25846,-
1,1421961608.35402,CcxFCf1cUN8OTFKQIc,59.166.0.3,40627,149.171.126.2,22,tcp,-,0.000624,32,...,SF,F,F,0,DTFfA,6,376,2,104,-
2,1421961608.377063,Cg6Wxq4NyT8BqPtXRj,59.166.0.3,2591,149.171.126.3,27743,tcp,-,0.001057,1200,...,SF,F,F,0,DTaFfA,6,2712,4,208,-
3,1421961607.734301,Co3lB94RCmMPUwcla6,59.166.0.3,52452,149.171.126.3,21,tcp,ftp,0.783276,52,...,SF,F,F,0,^dtADTafF,12,648,18,1160,-
4,1421961607.734431,CnEYFr3XYIiHMPwUeh,59.166.0.2,2569,149.171.126.7,6881,tcp,-,0.880040,136,...,SF,F,F,0,AdtDTatfF,37,2026,63,73236,-

In [154]:
df1["duration"].max(), df1["duration"].min(), df1.shape

(24.120651, 1e-06, (20923, 21))

In [ ]:
(45.490864, 2e-06, (16269, 21)) 45.490864

In [169]:
path='/home/janati/Desktop/Meryem/IDS-Datasets/Datasets/unsw/Zeek/22-01-2015/timeout60/conn_logs/P1_conn.log'

df60 = pd.read_csv(path, sep="\t", comment='#',
                         names=['ts', 'uid', 'id.orig_h', 'id.orig_p',
                                'id.resp_h', 'id.resp_p', 'proto', 'service',
                                'duration',  'orig_bytes', 'resp_bytes',
                                'conn_state', 'local_orig', 'local_resp',
                                'missed_bytes',  'history', 'orig_pkts',
                                'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
                                'tunnel_parents'])
df60 = pd.DataFrame(df60.values, columns=df60.columns)
df60['duration'].replace('-', np.nan, inplace=True)
df60['duration'] = df60['duration'].astype(float)

df60["duration"].max(), df60["duration"].min() , df60.shape

(2951.257225, 2e-06, (8956, 21))

In [156]:
#df60.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents
0,1421961607.757225,C3PEJj3ymowXxQnl4b,59.166.0.1,39900,149.171.126.9,45817,tcp,-,0.107519,235,...,SF,F,F,11211,ShAaGdtgtfF,26,1360,30,25846,-
1,1421961608.35402,CPsac21ZNHCIDAAPTg,59.166.0.3,40627,149.171.126.2,22,tcp,-,0.000624,32,...,SF,F,F,0,DTFfA,6,376,2,104,-
2,1421961608.377063,Ce57r74BZkVHDrpXZk,59.166.0.3,2591,149.171.126.3,27743,tcp,-,0.001057,1200,...,SF,F,F,0,DTaFfA,6,2712,4,208,-
3,1421961607.734301,CO6DT02qw5JgFg9adf,59.166.0.3,52452,149.171.126.3,21,tcp,ftp,0.783276,52,...,SF,F,F,0,^dtADTafF,12,648,18,1160,-
4,1421961607.734431,CSsQ5d4n81ovtwkgwb,59.166.0.2,2569,149.171.126.7,6881,tcp,-,0.880040,136,...,SF,F,F,0,AdtDTatfF,37,2026,63,73236,-

In [157]:
df60["duration"].max(), df60["duration"].min() , df60.shape

(24.120651, 1e-06, (20923, 21))

In [ ]:
(682.00044, 1e-06, (16759, 21))

(45.490864, 2e-06, (16269, 21))

# By Argus

In [45]:
path='/home/janati/Desktop/Meryem/IDS-Datasets/Datasets/unsw/Argus/timeout1/features/1_features.csv'


df1 = pd.read_csv(path)

In [46]:
df1.head()

,SrcId,Rank,StartTime,LastTime,Trans,Flgs,Seq,Dur,RunTime,IdleTime,...,sVpri,dVpri,SRange,ERange,SrcTCPBase,DstTCPBase,TcpRtt,SynAck,AckDat,TcpOpt
0,0.0.0.0,NaN,05:34:41.011668,05:34:41.010902,NaN,,0,0.000766,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN
1,0.0.0.0,1.0,00:23:27.658518,00:23:28.308420,1.0,* *,1,0.649902,0.649902,1.723092e+09,...,NaN,NaN,NaN,NaN,1.417884e+09,3.077388e+09,0.000000,0.000000,0.000000,NaN
2,0.0.0.0,2.0,00:23:27.760103,00:23:29.383232,1.0,* *,2,1.623129,1.623129,1.723092e+09,...,NaN,NaN,NaN,NaN,2.116151e+09,2.963115e+09,0.111897,0.061458,0.050439,Mw
3,0.0.0.0,3.0,00:23:27.801348,00:23:29.482990,1.0,* *,3,1.681642,1.681642,1.723092e+09,...,NaN,NaN,NaN,NaN,1.107119e+09,1.047443e+09,0.000000,0.000000,0.000000,NaN
4,0.0.0.0,4.0,00:23:27.843340,00:23:27.964818,1.0,*,4,0.121478,0.121478,1.723092e+09,...,NaN,NaN,NaN,NaN,2.202534e+09,6.217727e+08,0.000000,0.000000,0.000000,NaN

In [47]:
df1["Dur"].min(), df1["Dur"].max(), df1.shape

(0.0, 5.003872, (46262, 109))

In [52]:
path='/home/janati/Desktop/Meryem/IDS-Datasets/Datasets/unsw/Argus/timeout5/features/1_features.csv'


df60 = pd.read_csv(path)

In [53]:
df60["Dur"].min(), df60["Dur"].max(), df60.shape

(0.0, 5.004087, (46262, 109))